*Library/
*Temp/
*Obj/
*.vs/
*_ReSharper.*/

.DS_Store
*.csproj
*.sln
*.userprefs
*.unityproj
*.suo
*.sln.DotSettings.user
*.sln.DotSettings

Plugins.meta
Editor.meta

*.sublime-workspace
/build/
/build_/
/.idea/
/Assets/Plugins/Editor/JetBrains*
